/* ==== 
 --------- (5.2) solving section styles start ---------
 ==== */

.solving {
  background-size: auto;
  background-position: right 0px center;

  .solving__content-items {
    display: flex;
    align-items: stretch;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .solving__content-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border: 1px solid #4c4b8e;
    border-radius: 30px;
    width: calc(50% - 12px);

    h6 {
      font-weight: 600;
    }
  }

  .solving__content-item-thumb {
    @include box(100px);
    background-color: #3b4497;
    border-radius: 50%;
  }

  .solving__card {
    text-align: center;
  }

  .solving__card-single {
    text-align: center;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #f9643d 0%, #fe2a77 100%);
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02),
      inset 5px 5px 4px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(42px);
    border-radius: 50px;
    padding: 80px 30px;

    h2 {
      margin-bottom: 10px;
    }

    hr {
      opacity: 1;
      width: 100%;
      border-color: rgba(255, 255, 255, 0.3);
      margin: 30px 0px;
    }

    .primary-text {
      &:nth-last-of-type(1) {
        max-width: 210px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .solving__card-single--alt {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 50px;
    transform: translate(80%, -50%);
  }
}

/* ==== 
 --------- (5.2) solving section styles end ---------
 ==== */
