/* ==== 
 --------- (5.3) speaker section styles start ---------
 ==== */

.speaker {
  background-color: #2c305e;

  .speaker__single-thumb {
    position: relative;
    border-radius: 200px;

    img {
      border-radius: 200px;
      width: 100%;
    }

    .plus-ic {
      position: absolute;
      bottom: 60px;
      left: 30px;
      @include box(40px);
      border-radius: 50%;
      background-image: linear-gradient(
        47.02deg,
        #f6ad03 16.28%,
        #e73244 51.55%,
        #7a3074 89.77%
      );
      cursor: pointer;
      i {
        color: $white;
      }
    }

    .social {
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      background: #ffd2c1;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
      border: 1px solid #e73244;
      border-radius: 30px;
      position: absolute;
      left: 30px;
      bottom: 110px;

      a {
        @include box(30px);
        background: #1877f2;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 8px;
        &:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
        &:hover {
          background-color: #e73244;
        }
        i {
          color: $white;
        }
      }
    }
  }

  .speaker__single-content {
    text-align: center;
    margin-top: 30px;
    padding: 0px 10px;
    h4 {
      margin-bottom: 10px;
    }

    p {
      max-width: 220px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .slick-current {
    .social {
      display: block;
    }
  }

  .section__cta {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .slide-btn {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #373d80;
    border-radius: 30px;
    transition: $transition;
    i {
      font-size: 40px;
      color: $white;
    }
    &:hover {
      background-color: #fe2a77;
    }
  }
}

/* ==== 
 --------- (5.3) speaker section styles end ---------
 ==== */
