/* ==== 
 --------- (2.2) typography styles start ---------
 ==== */

// paragraphy styles
p,
th,
td,
li,
input,
textarea,
select,
label,
blockquote,
span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-top: -7px;
  color: $theme-color;
}

.primary-text {
  font-size: 24px;
  line-height: 34px;
  margin-top: -7px;
}

// link styles
a,
button {
  font-size: 18px;
  line-height: 24px;
  color: $white;
  font-weight: 700;
  &:hover {
    color: $primary-color;
  }
}

// heading styles
h1,
.hero__content-title {
  font-size: 76px;
  line-height: 98.8px;
  margin-top: -19px;
}

h2,
.section-header__title,
.section-content__title {
  font-size: 57px;
  line-height: 74.1px;
  margin-top: -14px;
}

h3 {
  font-size: 43px;
  line-height: 55.9px;
  margin-top: -10px;
}

h4,
.h4 {
  font-size: 32px;
  line-height: 41.6px;
  margin-top: -8px;
}

h5,
.h5 {
  font-size: 24px;
  line-height: 31.2px;
  margin-top: -6px;
}

h6 {
  font-size: 18px;
  line-height: 23.4px;
  margin-top: -5px;
}

h1 > a,
h1 > span,
h2 > a,
h2 > span,
h3 > a,
h3 > span,
h4 > a,
h4 > span,
h5 > a,
h5 > span,
h6 > a,
h6 > span,
p > a,
p > span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: inherit;
}

/* ==== 
 --------- (2.2) typography styles end ---------
 ==== */
