/* ==== 
 --------- (3.1) buttons styles start ---------
 ==== */

.cmn-button {
  font-weight: 600;
  color: $white;
  padding: 15px 40px;
  background-color: $secondary-color;
  background-image: linear-gradient(45deg, #f9643d 0%, #fe2a77 100%);
  background-size: 100% 100%;
  border-radius: 30px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    color: $white;
    background-size: 200% 200%;
    background-position: left -100% center;
  }
}

.cmn-button--secondary {
  background-color: transparent;
  background-size: 0% 100%;
  background-position: center center;
  padding: 14px 40px;
  border: 1px solid #adb0db;
  &:hover {
    background-size: 100% 100%;
    background-position: center center;
    border: 1px solid #fe2a77;
  }
}

// scroll to top with progress
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px #fe2a7740;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
  z-index: 99;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "\f102";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: $white;
  left: 0%;
  top: 0%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  content: "\f102";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  opacity: 0;
  background: $white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0%;
  top: 0%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: #fe2a77;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

/* ====  
 --------- (3.1) buttons styles end ---------
 ==== */
