/* ==== 
 --------- (4.1) header styles start ---------
 ==== */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 9;
  background: rgba(46, 50, 97, 0.4);
  border-bottom: 1px solid #4b508a;

  .nav {
    padding: 18px 0px;
  }

  li,
  span {
    margin: 0px;
  }

  .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    min-width: 100%;
  }

  .nav__menu {
    flex-grow: 1;
  }

  .nav__menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__menu-link {
    padding: 10px 15px;
    color: $white;
    font-weight: 500;

    &:hover {
      color: #fe2a77;
    }
  }

  .nav__menu-item--dropdown {
    position: relative;

    .nav__dropdown {
      position: absolute;
      top: 100%;
      left: 0px;
      min-width: 200px;
      background-color: #fe2a77;
      padding: 30px;
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      transform: translateY(30px);
      box-shadow: 0px 0px 10px rgba(79, 213, 202, 0.2);

      li {
        margin-bottom: 10px;

        &:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }
    }

    &:hover {
      .nav__dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
    }

    .nav__dropdown-item {
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      color: $white;
      border-bottom: 1px solid #ffffff50;

      &:hover {
        padding-left: 8px;
        color: $white;
        border-color: $white;
      }
    }
  }

  .nav__menu-link--dropdown {
    position: relative;

    &::after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f107";
      border: none;
      font-size: 16px;
      transition: $transition;
    }
  }

  .nav__menu-item--dropdown {
    &:hover {
      .nav__menu-link--dropdown {
        color: #fe2a77;

        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .nav__uncollapsed {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .social {
    margin-top: 40px;
    display: none;
  }

  .nav__uncollapsed-item {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav__bar {
    padding: 0px;
    display: inline-block;
    background-color: transparent;

    span {
      transform: translateY(0px);
    }

    .icon-bar {
      width: 35px;
      height: 2px;
      background-color: $white;
      margin: 0px;
      display: block;
      transition: all 0.3s;
    }

    .middle-bar {
      margin: 6px 0px;
      opacity: 1;
    }
  }

  .nav__bar-toggle {
    .top-bar {
      transform: rotate(-45deg) translate(-7px, 4px);
      background: $white;
    }

    .middle-bar {
      opacity: 0;
    }

    .bottom-bar {
      transform: rotate(45deg) translate(-7px, -4px);
      background: $white;
    }
  }
}

.header-active {
  background-color: rgb(46, 50, 97);
  animation: header 0.5s linear;
  top: 0px;
  z-index: 99999;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #12121260;
  z-index: 9;
  transform: translateX(-100%);
  transition: $transition;
  display: none;
}

.backdrop-active {
  transform: translateX(0px);
}

.body-active {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

@keyframes header {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}
/* ==== 
 --------- (4.1) header styles end ---------
 ==== */
